*.yml
build/
node_modules/
test/
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
doc/
docs/
undefined/
temp/
yarn.lock
yarn-error.log
package-lock.json
api-extractor.json
.editorconfig
.eslintignore
.lintstagedrc
.prettierignore
.prettierrc
.eslintrc.js
.babelrc
.eslintrc
commitlint.config.js
rollup.config.js
webpack.config.js
jsdoc.config.json