<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <input class="form-control" type="text" placeholder="please input name of product!"
       [formControl]="titleFilter">
    </div>
  </div>
</div>
<div *ngFor="let product of products | filter:'title':keyword" class="col-md-4 col-sm-4 col-sx-4">
  <div class="thumbnail">
    <img src="http://placehold.it/320x150">
    <div class="caption">
      <h4 class="pull-right">${{product.price}}</h4>
      <h4><a [routerLink]="['/product', product.id]">{{product.title}}</a></h4>
      <p>{{product.desc}}</p>
    </div>
    <div>
      <app-stars [rating]="product.rating"></app-stars>
    </div>
  </div>
</div>
