<form [formGroup]="formModel" (ngSubmit)="onSearch()" novalidate>
  <div class="form-group" [class.has-error]="formModel.hasError('minlength', 'title')">
    <label for="productTitle">Name: </label>
    <input formControlName="title" type="text" id="productTitle" placeholder="Product's Name" class="form-control">
    <span class="help-block" [class.hidden]="!formModel.hasError('minlength', 'title')">
      Please input three characters at least!
    </span>
  </div>
  <div class="form-group"  [class.has-error]="formModel.hasError('positiveNumber', 'price')">
    <label for="productPrice">Price: </label>
    <input formControlName="price" type="text" id="productPrice" placeholder="Product's Price" class="form-control">
    <span class="help-block" [class.hidden]="!formModel.hasError('positiveNumber', 'title')">
      Please input right price!
    </span>
  </div>
  <div class="form-group" >
    <label for="productCategory">Category: </label>
    <select formControlName="category" id="productCategory" class="form-control">
      <option value="-1">All Categories</option>
      <option *ngFor="let category of categories" [value]="category">{{category}}</option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">Search</button>
  </div>
</form>
