<div name="searchForm" role="form">
  <div class="form-group">
    <label for="productTitle">Name: </label>
    <input type="text" id="productTitle" placeholder="Product's Name" class="form-control">
  </div>
  <div class="form-group">
    <label for="productPrice">Price: </label>
    <input type="text" id="productPrice" placeholder="Product's Price" class="form-control">
  </div>
  <div class="form-group">
    <label for="productCategory">Category: </label>
    <select id="productCategory" class="form-control"></select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-block">Search</button>
  </div>
</div>
